
*{
    margin: 0;
    text-decoration: none;
}
body{
    background-color: #D4AF37;
}
.container{
    position: absolute;
    width: 100%;
}
.top_container{
    display: flex;
    background-color: #FFD700;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
   
}
.input_icon{
    display: flex;
    gap: 10px;
    position: relative;
    right: 100px;
    font-size: 15px;
    color:#8b4513;
}
#logo_image{
    
    position: relative;
    left: 60px;
    font-size: 50px;
    color: #8b4513;
    
   
}
.menu_icons{
    display: flex;
    text-align: center;
    gap: 10px;
    font-size: 15px;
    align-items: center;
    color:saddlebrown;
    position: relative;
    right: 80px;
   
}
.menu:hover{
  font-size: 17px;
  text-decoration: underline;
}
.input_top_contain{
   background: none;
    position: relative;
    height: 30px;
    font-size: 10px;
    width: 600px;
    left: 50px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}



.script_content{
    background-color: white;
    width: 200px;
    height: 200px;
    font-size: 10px;
    position: fixed;
    top: 40%;
    left:40%;
    border-radius: 10px;
    display: none;
    z-index: 6;
    padding: 10px;
    margin: 0%;
    
}
.login,.button_login,.contact_us{
    display: grid;
    gap: 20px;
}    
.button_login{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.login_button{
   border: 1px solid saddlebrown;
}
.signin_button{
    background-color: saddlebrown;
    color: white;
}
.login_close{
    color: white;
    display: flex;
    width: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60%;
    
}
.login_close:hover{
    background-color: dimgray;
}

/* notifaction name */


.container2{
    text-align: center;
    width: 1300px;
    position: fixed;
    text-transform:capitalize;
    
}
.container_top2_menucontent{
    display: flex;
    justify-content: space-around;
    background-color: white;
    gap: 3px;
    position: relative;
    top: 100px;
    
}
.underline{
    background-color: #b86931;
    width: 105px;
    height: 20px;
}
.underline:hover{
    background-color: #8b4513;
    color: white;
    cursor: pointer;
    text-decoration: underline solid snow ;
}


/* notification name hide content */


.underline_container{
    width: 300px;
    height: 120px;
    font-size: 15px;
    position: fixed;
    display: none;
    z-index: 6;

}
.underline_container01{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left{
    margin: 10px;
}

 

.underline_container2{
    width: 450px;
    height: 120px;
    font-size: 15px;
    position: fixed;
    left: 160px;
    display: none;
    z-index: 6;
   
}
.underline_container02{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left2{
    margin: 10px;
} 



.underline_container3{
    width: 450px;
    font-size: 15px;
    left: 250px;
    height: 100px;
    position: fixed;
    display: none;
    z-index: 6;

}
.underline_container03{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left3{
    margin: 10px;
}




.underline_container4{
    width: 450px;
    font-size: 15px;
    left: 350px;
    height: 100px;
    position: fixed;
    display: none;
    z-index: 6;
}
.underline_container04{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left4{
    margin: 10px;
}


.underline_container5{
    width: 450px;
    font-size: 15px;
    left: 450px;
    height: 100px;
    position: fixed;
   display: none;
   z-index: 6;
}
.underline_container05{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left5{
    margin: 10px;
}



.underline_container6{
    width: 450px;
    font-size: 15px;
    left: 550px;
    height: 100px;
    position: fixed;
   display: none;
   z-index: 6;
}
.underline_container06{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left6{
    margin: 10px;
}



.underline_container8{
    width: 450px;
    font-size: 15px;
    left: 750px;
    height: 100px;
    position: fixed;
   display: none;
   z-index: 6;
}
.underline_container08{
    display: flex;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
    justify-content: space-around;
}
.left8{
    margin: 10px;
}



.underline_container10{
    width: 150px;
    font-size: 15px;
    left: 1000px;
    height: 100px;
    position: fixed;
    display: none;
    z-index: 6;
}
.underline10_container{
    background-color: white;
    position: relative;
    top: 110px;
    border-radius: 5px;
    color: #8b4513;
   
}
.left10{
    margin: 10px;
}


.underline_container12{
    width: 140px;
    font-size: 15px;
    left: 1150px;
    height: 100px;
    position: fixed;
    display: none;
    z-index: 6;
}
.underline12_container{
    display: grid;
    gap: 20px;
    background-color: white;
    position: relative;
    top: 120px;
    border-radius: 5px;
    color: #8b4513;
}
.left12{
    margin: 10px;
}





/* jwellery product */
.input_image{
    width: 200px;
    height: 300px;
    position: relative;
}
.container_box{
    text-transform: uppercase;
    position: relative;
    top: 320px; 
}

#container_prod{
font-size: 10px;   

width: 100%;
text-align: center;

cursor: pointer;
display: flex;
flex-wrap: wrap;

justify-content: space-around;
color: #8b4513;
font-weight: 500;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* footer */




  



.big_imag{
    position: relative;
    top: 120px;
    
    
}
#big_image{
    width: 100%;
    height: 150px;
    
 
}
.big_image{
    display: flex;
    justify-content: space-between;


}
.hide_image{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
   
}

.h1{
    background-color: #df8646;
    width: 300px;
    position: relative;
   left: 7px;
    
}



/*ANIMATION BACKGROUND*/
.slideshow {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    position: fixed;
    }
    @keyframes slideshow {
    0% { background-image: url("./big1.webp"); }
    50% { background-image: url("./big2.webp"); }
    100% { background-image: url("./big3.webp"); }
    }
    .slideshow {
    animation: slideshow 10s ease-in-out infinite;
   
    }

    /* Enquire form */
    .enquire_form{
        position: fixed;
        top: 600px;
        font-size: 60px;
        left:90%;
        cursor: pointer;
        
        

    }
    .enguire_letter{
        position: fixed;
        top: 300px;
        font-size: 20px;
        color: black;
        right: 50px;
        background-color: white;
        width: 300px;
        justify-content: center;
        display: inline-block;
        height: 300px;
        display: none;
       
       
    }
    .close_icon{
        display: flex;
    }
    .close{
     position: relative;
     left: 47px;
     background-color: black;
    color: white;
    cursor: pointer;
    width: 20px;
    height: 22px;
    }
    
 










